.recipe_edit{
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    padding: 2rem;
    overflow-y: auto;
    overflow-x: auto;
}

.recipe_edit_removeButton_container{
    text-align: end;
}
.recipe_edit_removeButton{
    padding: 0;
    background: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
}

.recipe_edit_details_grid{
    display: grid;
    grid-template-columns: auto 1fr;
    row-gap: 10px;
    column-gap: 80px;
}

.recipe_edit_label{
    font-weight: bold;
}

.recipe_edit_input{
    border: 1px solid black;
    border-radius: 5px;
    font-size: inherit;
    padding: 5px 10px;
    outline: none;
    width: 100%;
}

textarea.recipe_edit_input{
    resize: none;
    height: 200px;
}


.recipe_edit__ingredient_grid{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    margin: 20px 0 0 40px;
}
 
.recipe_edit_button__ing__container{
    margin-top: 40px;
    text-align: center;
}

@media (max-width: 1000px){
    body{
        font-size: 10px;
        padding: 0 !important;
    }
    .recipe_edit__ingredient_grid,
    .recipe_edit_details_grid{
        grid-template-columns: 1fr;
    }

}